.header{
    background-image: url("../../static/images/header.png");
    background-size: 100%;
    padding-top: 120rpx;
    background-position-y: 225rpx;

}

.title{
    font-size: 55rpx;
    font-family: SourceHanSansCN;
    font-weight: 800;
    margin-left: 80rpx;
    display: block;
    
}
.sub_title{
    font-size: 35rpx;
    font-family: SourceHanSansCN;
    font-weight: 400;
    color: #7D7D7D;
    margin-left: 80rpx;
    margin-top: 10rpx;
    display: block;
    
}

.body{
    margin-top: 220rpx;
}
.body_desc{
    text-align: center;
    margin-top: 50rpx;
}

.body_img{
    width: 80%;
    margin:0 auto;
    margin-top: 60rpx;
}
.choose_btn{
    width: 100%;
    height:157rpx;
    margin-bottom: 10rpx;
}

.body_title{
    
    font-size: 36rpx;
    font-family: PingFang;
    font-weight: 500;
    display: block;
}

.body_sub_title{
    font-size: 25rpx;   
    font-family: PingFang;
    font-weight: 500;
    color: #7D7D7E;
}
.footer{
    width: 50%;
    position: absolute;
    bottom: 50rpx;
    left: 25%;
}