.body{
    .header{
        height: calc(40vh)
    }
    .content{
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        width: 100%;
        position: absolute;
        top:  calc(38vh);
        background-color: #fff;
        .title{
            width: 86%;
            margin:0 auto;
            display: block;
            font-size: 45rpx;
            font-family: PingFang;
            font-weight: 800;
            color: #2A2A2A;
            border-bottom: 1px solid #d3d3d3;
            padding-bottom: 20rpx;
            padding-top: 20rpx;
        }
        .item{
            width: 86%;
            margin:15rpx auto;
            .item_title{
                display: block;
                font-size: 40rpx;
                font-family: PingFang;
                font-weight: 800;
                color: #2A2A2A;
                margin-top: 30rpx;
            }
            .item_desc{
                margin: 15rpx auto;
                .desc{
                    display: block;
                    font-size: 25rpx;
                    font-family: PingFang;
                    font-weight: 400;
                    color: #707070;
                    margin-top: 5rpx;
                    .li{
                        margin-right: 15rpx;
                        font-size: 35rpx;
                        color: #000000;
                        font-weight: 800;
                    }
                }
            }
        }
    }
}